:root {
  --color1: rgb(107, 0, 179);
}

body {
  background-color: rgb(46, 49, 70);
  font-family: "montserrat", "sans-serif";
}

* {
  padding: 0;
  margin: 0;
  color: white;
  line-height: 2;
  outline: none;
}

button {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.3; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  opacity: 0.5;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
  opacity: 0.5;
}

.disabled,
.disabled:hover {
  opacity: 0.5;
  background-color: #eee !important;
  cursor: default !important;
}

.todo-container {
  display: flex;
  margin: 150px;
  align-items: flex-start;
}

.todo-lists {
  max-width: 400px;
  word-wrap: break-word;
}

.created-lists {
  padding-left: 18px;
}

.list {
  margin: 8px 0;
  cursor: default;
  padding: 5px 15px;
  border-radius: 2px;
  font-weight: 300;
  background-color: rgb(50, 53, 75);
}

.list:hover {
  background-color: rgb(62, 66, 92);
}

.active-list,
.active-list:hover {
  background-color: rgba(82, 116, 167, 0.589);
  font-weight: bold;
}

form {
  display: flex;
  align-items: flex-end;
}

.type-list-name {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  padding-bottom: 4px;
  min-width: 250px;
}

.add-list-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;
  display: inline-flex;
  height: 20px;
  align-items: center;
  margin-left: 20px;
}

.todo-tasks {
  background-color: rgb(95, 102, 189);
  box-shadow: 0px 0px 10px rgb(37, 37, 37);
  margin-left: 200px;
  word-wrap: break-word;
  min-width: 350px;
}

.todo-tasks > *:not(.tasks-header) {
  padding: 10px 20px;
}

.tasks-header {
  padding: 10px 20px;
  background-color: rgb(76, 58, 158);
}

.task {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  position: relative;
}

.task-name {
  position: relative;
}

.task-name::after {
  content: "";
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: rgb(76, 58, 158);
  position: absolute;
  left: 0;
  top: 50%;
  transform: scaleX(0);
  transition: transform 300ms;
  transform-origin: right;
}

.task input:checked + label .task-name::after {
  transform: scaleX(1);
  transform-origin: left;
}

.task input:checked + label .task-name {
  opacity: 0.4;
}

/* .task-name {
  margin-left: 10px;
  position: relative;
  cursor: default;
  display: inline-block;
} */

/* .line-through-completed {
  width: 0;
  background-color: rgb(76, 58, 158);
  height: 2px;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  transition: width 0.2s linear;
} */

.edit-task-btn {
  border: none;
  background-color: rgba(76, 58, 158, 0.575);
  padding: 0 8px;
  border-radius: 3px;
  color: rgb(175, 180, 247);
  position: absolute;
  right: 0;
}

.edit-task-btn[disabled],
.edit-task-btn[disabled]:hover {
  background-color: rgba(76, 58, 158, 0.26);
  color: rgba(175, 180, 247, 0.466);
  cursor: default;
}

.edit-task-btn:hover {
  background-color: rgb(76, 58, 158);
  transition: background-color 0.3s ease-in-out;
}

.change-task-name {
  background-color: transparent;
  border: none;
}

.add-task {
  display: flex;
  align-items: flex-end;
  margin: 15px 0;
}

.type-task-name {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  padding-bottom: 4px;
  width: 200px;
  font-size: 16px;
}

.add-task-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;
  display: inline-flex;
  height: 20px;
  align-items: center;
  margin-left: 20px;
}

.remaining-tasks,
.remaining-tasks span {
  font-size: 12px;
  opacity: 0.9;
}

.clear-section button {
  border: none;
  background-color: rgba(76, 58, 158, 0.575);
  padding: 0 8px;
  margin: 10px 20px 0 0;
  border-radius: 3px;
  color: rgb(175, 180, 247);
}

.clear-section button:hover {
  background-color: rgb(76, 58, 158);
  transition: background-color 0.3s ease-in-out;
}

/*========= CUSTOM CHECKBOX ==========*/

.custom-checkbox {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(176, 176, 252);
  display: inline-block;
  position: relative;
  transform: scale(1);
  transition: transform 300ms;
  top: 3px;
  margin-right: 6px;
}

.custom-checkbox:hover {
  transform: scale(1.1);
}

.custom-checkbox::after {
  content: "";
  border: rgb(76, 76, 192) solid;
  position: absolute;
  top: 23.4%;
  left: 15.3%;
  border-width: 0 0 2px 2px;
  width: 8px;
  height: 4px;
  opacity: 0;
  transform: rotate(-45deg);
  transition: opacity 300ms ease-in-out;
}

.new-checkbox {
  position: relative;
}

.new-checkbox input {
  position: absolute;
  top: 6px;
  left: 2px;
  opacity: 0;
}

.new-checkbox input:checked ~ label .custom-checkbox {
  border-color: rgb(188, 236, 248);
  background-color: rgb(188, 236, 248);
}

.new-checkbox input:checked ~ label .custom-checkbox::after {
  opacity: 1;
}
